*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
display:flex;
flex-wrap: wrap;
justify-content:space-evenly;
align-items: center;
}
.h1{
    margin: 15px 15px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.game{
    margin: 30px;
    height:250px;
    width: 420px;
    border: .5px black solid;
    border-radius: 18px;
    background-color:rgb(247, 234, 210);
    overflow: hidden;
    transition: width 1s;
    cursor: pointer;
}
.game:hover{
    width: 430px;
}
a{
    text-decoration: none;
}
.first{
    height: 180px;

}
.first img{
    width: 100%;
    height: 100%;
}
.sec{
    padding:10px;
    display: flex;
    justify-content:left ;
   
}
.sec1{
    margin: 3px;
    width: 45px;
    height:45px;
    border: 1px black solid;
    border-radius: 10px;
    overflow: hidden;
    
}
.sec1 img{
    width: 100%;
    height: 100%;
}
.sec2{
    color:peru;
    margin: 5px;
    padding-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}