@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.book{
    --main-color:green;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
    
}

.book{
    font-family: 'Roboto', sans-serif;
    margin:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    /* padding-top:200px; */
}

.book{
    overflow-x: hidden;
    scroll-padding-top: -2rem;
    scroll-behavior: smooth;    
    background: var(--bg);
    padding:3rem;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: 3.2rem;
    padding: 50px 0px 0px 0px;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.title{
    color: white;
    font-size: 2rem;
    padding: 2rem 0rem 0rem 0rem;
}

.bn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 1rem;
    font-size: 1rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
    transition: 1s;
    position: absolute;
    bottom: 1.5rem;
}

.bn:hover{
    letter-spacing: .2rem;
}

.book .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap:1.2rem;
    /* display: flex; */
}

.book .box-container .box{
    border:var(--border);   
    box-shadow: 2px 2px 5px gray; 
    transition: 1s;
}
.book .box-container .box:hover{
    box-shadow: 2px 3px 10px green;
}

.book .box-container .box .image{
    overflow:hidden;
    height: 300px;
    width: 100%;
}

.book .box-container .box .image img{
    height: 100%;
    /* object-fit: cover; */
    width: 100%;
    transition: 1s;
}

.book .box-container .box:hover .image img{
    transform: scale(1.1);
}

.book .box-container .box .content{
    height: 240px;
    position: relative;
    padding:1.5rem;
}

.book .box-container .box .content .title{
    font-size: 1.5rem;
    /* line-height: 1; */
    color:#fff;
}

.book .box-container .box .content .title:hover{
    color:var(--main-color);
}

.book .box-container .box .content span{
    color:var(--main-color);
    display: block;
    font-size: 1rem;
}

.book .box-container .box .content p{
    font-size: 1rem;
    line-height: 1.5;
    color:#ccc;
}
@media (max-width:991px){
    .heading{
        padding:1.5rem 1rem;
        font-size: 2rem;
    }
    .title{
        font-size: 2rem;
    }
    .book{
        padding:2rem;
    }
}
